#include "native/win32.h"

SPRITE_ICON					ICON	"assets/icon-64.bmp"
SPRITE_BALL					BITMAP	"assets/ball.bmp"
SPRITE_GRASS				BITMAP	"assets/grass.bmp"
SPRITE_DIRT					BITMAP	"assets/dirt.bmp"
SPRITE_SPIKE				BITMAP	"assets/spike.bmp"
SPRITE_SMALL_SPIKES			BITMAP	"assets/small_spikes.bmp"
SPRITE_ROCK					BITMAP	"assets/rock.bmp"
SPRITE_BUBBLE				BITMAP	"assets/bubble.bmp"
SPRITE_JUMP_PAD_BASE		BITMAP	"assets/jump_pad_base.bmp"
SPRITE_JUMP_PAD_PLATFORM	BITMAP	"assets/jump_pad_platform.bmp"
SPRITE_FONT_5x7				BITMAP	"assets/font_5x7.bmp"
SPRITE_FONT_5x7_x2			BITMAP	"assets/font_5x7_x2.bmp"
SPRITE_FONT_5x7_x4			BITMAP	"assets/font_5x7_x4.bmp"
SPRITE_LOGO					BITMAP	"assets/logo.bmp"
SPRITE_BACKGROUND			BITMAP	"assets/background.bmp"

